.root {
    overflow: hidden;
    background-color: #cccccc;
    box-sizing: border-box;
}

.root.outline {
    overflow-y: auto;
    padding: 80px 5%;
}

.page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;

    color: black;
    background-color: white;

    font-family: "Times New Roman", sans-serif;
    font-size: 26px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    line-height: 36px;
    letter-spacing: -1px;

    transition: transform .3s ease-out;
}

.page-content {
    overflow: auto;
    width: 100vw;
    height: 100vh;
    padding: 40px 60px;
    box-sizing: border-box;
}

.page-footer {
    color: #8c8c8c;
    font-size: 75%;
    position: absolute;
    bottom: 5px;
    right: 20px;
    pointer-events: none;
}

.root.outline .page {
    position: relative;
    zoom: 20%;
    display: inline-block;
    border-radius: 10px;
    margin: 30px 1%;
}

.page.far-prev {
    transform: translate(-200vw);
}

.page.prev {
    transform: translate(-100vw);
}

.page.current {
    transform: translate(0);
    z-index: 1;
}

.page.next {
    transform: translate(100vw);
}

.page.far-next {
    transform: translate(200vw);
}

/********************************** Navigator ***********************************/
.page-navigator {
    opacity: 0.7;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    background-color: #f1f1f1;
    color: black;
    z-index: 100;
}

.root.outline .page-navigator {
    display: none;
}

.page-navigator:hover {
    background-color: #ddd;
    color: black;
}

.page-navigator.left {
    position: absolute;
    left: 5px;
    bottom: 3px;
}

.page-navigator.right {
    position: absolute;
    left: 50px;
    bottom: 3px;
}

.page-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.page-arrow.right {
    transform: translateX(-1px) translateY(-1px) rotate(-45deg);
    -webkit-transform: translateX(-1px) translateY(-1px) rotate(-45deg);
}

.page-arrow.left {
    transform: translateX(1px) translateY(-1px) rotate(135deg);
    -webkit-transform: translateX(1px) translateY(-1px) rotate(135deg);
}

/*********************************Tool Bar********************************/
body {
    margin: 0;
}

.page-tool-bar {
    position: absolute;
    top: 20px;
    left: 50vw;
    transform: translateX(-50%);
    border-radius: 5px;
    padding: 0 5px;

    background-color: #cacaca;
    opacity: 0;
    z-index: 100;
}

.root.outline .page-tool-bar {
    opacity: 1;
    background-color: #dddddd;
    border-color: #aaaaaa;
}

.page-tool-bar.lock {
    opacity: 0.5;
}

.page-tool-bar:hover {
    opacity: 1;
}

.page-tool-bar a {
    text-align: center;
    transition: all 0.3s ease;
    color: white;
    cursor: pointer;
    font-size: 30px;
}

.page-tool-bar a:hover {
    background-color: #aaaaaa;
}

.page-tool-bar a.active {
    color: #444444;
}