.fade-in {

  .enter {
    opacity: 0;
  }

  .enter-active {
    opacity: 1;
    transition: opacity 200ms;
  }

  .enter-done {
    opacity: 1;
  }

  .exit {
    opacity: 1;
  }

  .exit-active {
    opacity: 0;
    transition: opacity 200ms;
  }

  .exit-done {
    visibility: hidden;
    opacity: 0;
  }
}